@media only screen and (max-width: 876px) {
    main {
        gap: 0px;
    }

    #phone img{
        display: none;
    }
}

@media only screen and (max-width: 451px) {
    main {
        padding-top: 0;
    }

    #login, #n-conta {
        background-color: #FAFAFA;
        border: none;
    }

    #logo {
        padding: 30px 0 12px 0;
    }
}